.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  margin-top: 15px;
  position: relative;
  justify-content: space-around;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 25px;
}

.list {
  margin-top: 33px;
}



